html, body  {
  margin:0px;
  padding:0px;
}

img
{
  border:0px;
  padding:0px;
}

#date_header{
  background-color:grey;
  border:3px solid #ddd;
  text-align:center;
}


#date_header p{
  padding:0px;
  color:white;
  margin-top:5px;
}

h1{
  line-height: 38px;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-align:center;
}

h1 a{
  color:#000;
  text-decoration:none;
}

h1 a:hover{
  color:#000;
  text-decoration:none;
}

#content_area{
  width: 60%;
  margin: 0 auto;
}

#featured_image{
  margin:3%;
}

#sub_content_area{
  width: 36%;
  margin: 0 auto;
  text-align:left;
  font-family:'Roboto',sans-serif;
  font-size:18px;
  font-weight:400;
  line-height:19px;
}

#footer_area{
  margin-top:14%;
  text-align:center;
  font-family:'Roboto',sans-serif;
  font-size:16px;
  font-weight:400;
  line-height:19px;
}

#footer_links a{
  color:#000;
  text-decoration:underline;
  display:block;
  margin-bottom:10px;
}

#footer_links{
  margin-bottom:28px;
}

#action_btn{
  background-color:green;
  line-height: 20px;
  font-size: 17px;
  color: #fff;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-decoration:none;
  border: 1px solid #cac3c3;
  width: 100%;
  display: block;
  padding: 2%;
  text-align: center;
  border-radius: 4px;
}

#action_btn:hover{
  text-decoration:none;
}

#footer_disclaimer{
  width:80%;
  margin:0 auto;
}

@media only screen and (max-width: 768px){
 #content_area{
  width: 98%;
 }
 
 h1{
  font-size: 26px;
  line-height:34px;
 }
 
 #sub_content_area{
  width:96%;
 }
 
 #action_btn{
  font-size: 26px;
  padding: 4%;
 }  

}